 <div class="box box-solid bg-blue ng-scope">
    <div class="box-body">
        <small>
            <span>
                <b class="ng-binding">@Localizer["default_fecha_modificacion"] {{selecteditem.modificado| date:'dd/MM/yyyy'}}</b>
            </span>
            <span>
                <b class="ng-binding">@Localizer["default_usuario_modificacion"] {{selecteditem.modificadoPorNombre}}</b>
            </span>
        </small>
    </div>
</div>
