<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConexionDB" connectionString="Server=localhost;Database=projectadmin;Uid=root;Pwd=;" providerName="MySql"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
