<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- DefaultPushSource key is similar to the 'DefaultPushSource' key of NuGet.Config schema-->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org -->
    <config>
        <add key="DefaultPushSource" value="http://gq-test2.cloudapp.net/nuget/api/v2/package" />
    </config>

    <!-- Default Package Sources -->
    <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
    <!-- The following section is similar to 'packageSources' section of NuGet.Config schema -->
    <packageSources>
        <add key="GeminusQhom" value="http://gq-test2.cloudapp.net/nuget/nuget" />
        <add key="nuget1.org" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
		<add key="nuget2.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    </packageSources>

</configuration>